In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
cnt = 0
df_dict = {}
for city in ['Albany']:
    if not os.path.isdir(f"../final/{city}") or city == "README.md":
        continue
    files = os.listdir(f"../final/{city}")
    if len(files) == 0:
        continue
    for file in files:
        try:
            df = pd.read_csv(f"../final/{city}/{file}")
            df_dict[file] = df
            break
        except Exception as e:
            print(f"Error reading {file} in {city}: {e}")
            continue
    break
    
    cnt += 1

In [ ]:
df = df_dict['calendar.csv'].copy()
df['price'] = df['price'].str.replace('$', '').str.replace(',', '').astype(float)
df.groupby('listing_id')['price'].agg(['mean', 'std']).sort_values('std', ascending=False)

                      mean  std
listing_id
2992450               70.0  0.0
1051544181986274174   50.0  0.0
1040624808363695229  113.0  0.0
1034722814589239236   91.0  0.0
1023053182224590019  109.0  0.0
...                    ...  ...
593272120497643087   125.0  0.0
588298411730694861    74.0  0.0
581057744765912905   150.0  0.0
565171585673492875   118.0  0.0
1365428503448527322   98.0  0.0

[424 rows x 2 columns]